# Archivos binarios
*.class
*.jar
*.war
*.ear
*.zip
*.rar
*.gz
*.bz2
*.tar
*.tmp
*.txt
# Archivos de configuración específicos del IDE
.idea/
.vscode/
.project
.classpath

# Archivos de configuración de Spring Boot
target/
.mvn/
.spring-boot-devtools/

# Archivos de configuración de Linux
.bashrc
.bash_aliases
.vimrc
.zshrc
.config/

# Archivos de log
*.log
*.out

# Archivos temporales
tmp/
temp/

# Archivos de prueba
# **/test/
**/tests/

# Archivos de documentación
**/docs/
**/documentation/

# Archivos de generación de código
**/generated/

# Archivos de cobertura de código
**/coverage/

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de caché
**/.cache/

# Archivos de node_modules
**/node_modules/

# Archivos de Docker
**/Dockerfile*
**/.dockerignore

# Archivos de Kubernetes
**/.kube/

# Archivos de Vagrant
**/Vagrantfile
**/.vagrant/

# Archivos de Ansible
**/ansible.cfg
**/ansible-playbook.yml

# Archivos de Terraform
**/.terraform/
**/terraform.tfstate

# Archivos de Helm
**/Chart.yaml
**/values.yaml

# Archivos de Jenkins
**/Jenkinsfile

# Archivos de SonarQube
**/sonar-project.properties

# Archivos de GitLab CI/CD
**/.gitlab-ci.yml

# Archivos de GitHub Actions
**/.github/workflows/

# Archivos de Travis CI
**/.travis.yml

# Archivos de CircleCI
**/.circleci/config.yml

# Archivos de AppVeyor
**/appveyor.yml

# Archivos de Azure DevOps
**/azure-pipelines.yml

# Archivos de Bitbucket Pipelines
**/bitbucket-pipelines.yml

# Archivos de GitLab Pipelines
**/gitlab-ci.yml

# Archivos de GitHub Actions
**/github-actions.yml

# Archivos de Drone CI
**/drone.yml

# Archivos de TeamCity
**/teamcity-build.xml

# Archivos de Jenkinsfile
**/Jenkinsfile

# Archivos de Docker Compose
**/docker-compose.yml

# Archivos de Kubernetes
**/kubernetes.yml

# Archivos de Helm
**/helm.yaml

# Archivos de Ansible
**/ansible.cfg

# Archivos de Terraform
**/terraform.tfstate

# Archivos de SonarQube
**/sonar-project.properties
src/main/resources/application.properties
HELP.md
mvnw
mvnw.cmd
*.png
*.jpg
